@mixin fonts($font_item){
	@font-face {
		font-family: $font_item;
	    src: url('/fonts/'+$font_item+'.eot');
	    src: url('/fonts/'+$font_item+'.eot?#iefix') format('embedded-opentype'),
	         url('/fonts/'+$font_item+'.woff') format('woff'),
	         url('/fonts/'+$font_item+'.ttf') format('truetype');
	    font-weight: normal;
    	font-style: normal;
	}
}

@include fonts('lato-bold');
@include fonts('timesbi');
@include fonts('lato-reg');
@include fonts('lato-light');
@include fonts('roboto-light');
@include fonts('lato-hai');
@include fonts('lato-haiita');